target/
plugin.xml
web-app/
grails-cloud-bees-*.zip
lib/
.classpath
.project
.settings/
stacktrace.log
target
target-eclipse/
cloud-bees-grailsPlugins.iml
cloud-bees.iml
cloud-bees.ipr
cloud-bees.iws
